<div class="row center">
	<div class="col-md-4 col-md-offset-4">
		<h1>Editing listing</h1><hr>

		<%= render 'form' %>

		<%= link_to 'Show', @listing, class: "btn btn-link" %> |
		<%= link_to 'Back', listings_path, class: "btn btn-link" %>
	</div>
</div>
